.sliders {
    position: relative;
    background: #222;
    padding-top: 105px;
    overflow: hidden;

    .loop_slider {
        background: white;

        .swiper-wrapper {
            transition-timing-function: linear !important;
        }

        .swiper-slide {
            width: 633px;

            .slider_in {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 118px;
                

                span {
                    color: #000;
                    text-align: center;
                    font-family: "Suisse Intl", sans-serif;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }

    .loop_wrapper {
        position: relative;
        background: white;
        width: 120%;
        height: 118px;
        left: -10%;
        top: 50%;
        z-index: 5;
        transform: rotate(5deg);

    }

    .loop_2 {
        z-index: 1;
        opacity: 0.5;
    }
}

.worth {
    background-color: white;
    padding-top: 94px;
    padding-bottom: 128px;

    .title {
        color: #000;
        text-align: center;
        font-family: "Suisse Intl", sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 95px;
    }

    .cards {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 0;

        .left_card {
            width: 50%;
            border-radius: 16px;
            background: #598BE0;
            position: relative;

            .card_pin {
                position: absolute;
                left: 0;
                top: -37px;

                span {
                    position: absolute;
                    left: 69px;
                    top: 9px;
                    color: #FFF;
                    font-family: "Roboto", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 25px;
                    letter-spacing: -0.5px;
                }
            }

            .left_card_wrapper {
                position: absolute;
                width: 100%;
                height: calc(100% - 3px);
                top: 3px;
                border-radius: 16px;
                border: 1px solid #C6C6C6;
                background: #EAEBED;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 83px 79px 95px 61px;

                .top_text {
                    border-bottom: 2px solid #fff;
                    padding-bottom: 75px;
                    padding-left: 24px;
                    padding-right: 25px;

                    .text_1 {
                        border-radius: 10px;
                        background: #FFF;
                        padding: 31px 19px 26px 26px;
                        color: #131313;
                        font-family: "Suisse Intl", sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 25px;
                        letter-spacing: -0.5px;

                        span {
                            color: #131313;
                            font-family: "Suisse Intl", sans-serif;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 25px;
                            letter-spacing: -0.5px;
                        }
                    }
                }

                .bottom_text {
                    color: #000;
                    font-family: "Suisse Intl", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding-left: 50px;
                    padding-right: 84px;
                }
            }
        }

        .right_card {
            width: 50%;
            border-radius: 16px;
            border: 1px solid #DADADA;
            padding-right: 60px;
            padding-left: 76px;
            display: flex;
            flex-direction: column;
            gap: 0;
            padding-top: 34px;
            padding-bottom: 22px;

            .line {
                background: #DADADA;
                height: 1px;
                width: calc(100% - 5px);
                margin: 30px 0;
                margin-left: 5px;
            }

            .text {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 35px;

                .img {
                    min-width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #598BE0;
                }

                span {
                    color: #000;
                    font-family: "Suisse Intl", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}

.product {
    padding-top: 50px;
    padding-bottom: 82px;
    background: white;

    .title {
        color: #000;
        text-align: center;
        font-family: "Suisse Intl", sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 86px;
    }
    
    .top_text {
        display: flex;
        align-items: flex-end;
        margin-bottom: 21px;

        .text {
            color: #000;
            font-family: "Suisse Intl", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: #598BE0;
                border-radius: 50%;
                left: 2px;
                bottom: -50px;
            }

            span {
                color: #000;
                font-family: "Suisse Intl", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: block;
            }
        }

        .text_1 {
            width: 226px;
        }

        .text_2 {
            width: 225px;
            margin-left: 134px;

            &::before {
                left: -21px;
                bottom: -34px;
            }
        }

        .text_3 {
            width: 334px;
            margin-left: 118px;

            &::before {
                left: -12px;
                bottom: -33px;
            }
        }
    }

    .line {
        margin-left: 9px;
    }

    .bottom_text {
        display: flex;
        align-items: flex-start;
        margin-top: 16.5px;

        .text {
            color: #000;
            font-family: "Suisse Intl", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: relative;

            &::before {
                position: absolute;
                width: 20px;
                height: 20px;
                content: '';
                border-radius: 50%;
                background: #598BE0;
                left: -8px;
                top: -52px;
            }

            span {
                color: #000;
                font-family: "Suisse Intl", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: block;
            }
        }

        .text_1 {
            width: 226px;
            margin-left: 225px;
            padding-top: 9px;
        }

        .text_2 {
            width: 226px;
            margin-left: 50px;

            &::before {
                left: -18px;
                top: -43px;
            }
        }

        .text_3 {
            width: 210px;
            margin-left: 207px;
            padding-top: 15px;

            &::before {
                left: -7px;
                top: -52px;
            }
        }
    }
}

.comment {
    padding-top: 73px;
    background: white;
    padding-bottom: 117px;

    .main_container {
        position: relative;
    }

    .title {
        color: #000;
        text-align: center;
        font-family: "Suisse Intl", sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 21px;
    }

    .description {
        color: #747474;
        text-align: center;
        font-family: "Suisse Intl", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        max-width: 719px;
        margin: 0 auto 58px;
    }

    .icon {
        position: absolute;
        top: 82px;
        right: 0;

    }

    .comment_slider {
        margin-bottom: 45px;

        .swiper-slide {
            width: 328px;
        }
    }

    .links {
        display: flex;
        align-items: center;
        gap: 28px;


        .link_1 {
            border-radius: 10px;
            background: #EAEBED;
            color: #598BE0;
            text-align: center;
            font-family: "Suisse Intl", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 500px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .link_2 {
            border-radius: 10px;
            background: #222;
            color: #598BE0;
            text-align: center;
            font-family: "Suisse Intl", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 672px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}