@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Suisse Intl";
  font-weight: bold;
  src: url("../fonts/SuisseIntl/SuisseIntl-Bold.otf") format("otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-weight: 600;
  src: url("../fonts/SuisseIntl/SuisseIntl-SemiBold.otf") format("otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-weight: 500;
  src: url("../fonts/SuisseIntl/SuisseIntl-Medium.otf") format("otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-weight: 400;
  src: url("../fonts/SuisseIntl/SuisseIntl-Regular.otf") format("otf");
}
@font-face {
  font-family: "Suisse Intl";
  font-weight: 300;
  src: url("../fonts/SuisseIntl/SuisseIntl-Light.otf") format("otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

button,
a,
span {
  display: inline-block;
}

.main_container {
  max-width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
}

.main_wrapper {
  background-color: #000;
  position: relative;
  z-index: -2;
}
.main_wrapper .main_bg {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 102px;
  margin: 0 auto;
}
.main_wrapper header {
  padding-top: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_wrapper header .logo {
  color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_wrapper header .burger {
  cursor: pointer;
}
.main_wrapper main {
  margin-top: 179px;
}
.main_wrapper main h2 {
  margin: 0 auto;
  max-width: 893px;
  text-align: center;
  color: #FFF;
  font-family: "Suisse Intl", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 57px;
}
.main_wrapper main h2 span {
  padding: 5px 12px;
  border-radius: 20px;
  background: #FFF;
  color: #000;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 57px; /* 123.913% */
}
.main_wrapper main .main_content {
  margin-top: 36px;
  padding-bottom: 363px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_wrapper main .main_content p {
  flex-basis: 255px;
  color: #FFF;
  font-family: "Suisse Intl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main_wrapper main .main_content .main_text_right {
  padding-left: 100px;
}
.main_wrapper main .main_content .main_btn {
  cursor: pointer !important;
  border: none;
  border-radius: 10px;
  background: #FFF;
  height: 55px;
  width: 250px;
  color: #000;
  font-family: "Suisse Intl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s linear;
}
.main_wrapper main .main_content .main_btn:hover {
  transform: translateY(-5px);
}

.trust {
  background: #F5F5F5;
}
.trust h2 {
  padding-top: 96px;
  margin-bottom: 63px;
  color: #000;
  text-align: center;
  font-family: "Suisse Intl", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.trust_wrapper {
  padding-bottom: 50px;
}
.trust_wrapper .trust_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.trust_wrapper .trust_bottom {
  margin-top: 46px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.trust_wrapper .trust_card {
  margin: 0 5px;
}
.trust_wrapper .trust_card .card_number {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #598BE0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  background: #FFF;
}
.trust_wrapper .trust_card .card_img {
  width: 276px;
  padding: 23px;
  border-radius: 20px;
  background: #FFF;
}
.trust_wrapper .trust_card .trust_svg {
  transform: translateY(-80px);
  overflow: hidden;
  width: 237px;
  background: #FFF;
  padding: 23px;
  border-radius: 20px;
  padding: 22px 4px 0 4px;
}
.trust_wrapper .trust_card .trust_svg svg {
  transform: translateY(5px);
}
.trust_wrapper .trust_card .trust_card_img {
  transform: translateY(-25px);
}
.trust_wrapper .trust_card h5 {
  max-width: 250px;
  color: #000;
  font-family: "Suisse Intl", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.trust_wrapper .trust_card h6 {
  max-width: 243px;
  color: #000;
  font-family: "Suisse Intl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.offer {
  padding-bottom: 141px;
  background: #222;
}
.offer h2 {
  padding-top: 101px;
  margin-bottom: 52px;
  color: #FFF;
  text-align: center;
  font-family: "Suisse Intl", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.offer .offer_wrapper_top {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
.offer .offer_wrapper_top .offer_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.offer .offer_wrapper_top .offer_left .offer_block {
  height: 239px;
  border-radius: 10px;
  background: #FFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;
  border-radius: 10px;
  background: #FFF;
}
.offer .offer_wrapper_top .offer_left .offer_block h3 {
  margin-bottom: 15px;
  color: #598BE0;
  text-align: center;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.offer .offer_wrapper_top .offer_left .offer_block p {
  color: #000;
  text-align: center;
  font-family: "Suisse Intl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer .offer_wrapper_top .offer_center {
  flex: 2;
}
.offer .offer_wrapper_top .offer_center .offer_block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 487px;
  border-radius: 10px;
  background: #FFF;
}
.offer .offer_wrapper_top .offer_center .offer_block img {
  width: 100%;
}
.offer .offer_wrapper_top .offer_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.offer .offer_wrapper_top .offer_right .offer_block {
  text-align: center;
  height: 239px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;
  border-radius: 10px;
  background: #FFF;
}
.offer .offer_wrapper_top .offer_right .offer_block h3 {
  margin-bottom: 15px;
  color: #598BE0;
  text-align: center;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.offer .offer_wrapper_top .offer_right .offer_block p {
  color: #000;
  text-align: center;
  font-family: "Suisse Intl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer .offer_wrapper_bottom {
  margin-top: 10px;
  background: #FFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 71px;
  height: 151px;
}
.offer .offer_wrapper_bottom h3 {
  max-width: 434px;
  color: #598BE0;
  font-family: "Suisse Intl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.offer .offer_wrapper_bottom p {
  max-width: 400px;
  color: #000;
  font-family: "Suisse Intl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */